<form action="{{ action }}" method="GET">

	<input type="hidden" name="shop_id" value="{{ m_shop }}">
	<input type="hidden" name="amount" value="{{ m_amount }}">
	<input type="hidden" name="order_id" value="{{ m_orderid }}">
	<input type="hidden" name="sign" value="{{ sign }}">
	<input type="hidden" name="currency" value="{{ m_curr }}">
	<input type="hidden" name="test" value="0">
	<input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
	
</form>
